{% extends 'base.html.twig' %}

{% block title %}Edit|date{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-2 col-md-8">
                <div class="card">
                    <div class="card-body">
                    <p class="fs-3 mb-4">Dates associées à l'appel d'offre {{tender.title}}</p>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                {{ form_label(form.submissionDate) }}{{ form_widget(form.submissionDate) }}
                                {{ form_label(form.responseDate) }}{{ form_widget(form.responseDate) }}
                                {{ form_label(form.start_date) }}{{ form_widget(form.start_date) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.negociationDate) }} {{ form_widget(form.negociationDate) }}
                                {{ form_label(form.attributionDate) }} {{ form_widget(form.attributionDate) }}
                                {{ form_label(form.end_date) }} {{ form_widget(form.end_date) }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                {{ form_label(form.duration) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget(form.duration) }}
                            </div>
                            {{form_errors(form.duration)}}
                        </div>
                        {{ form_rest(form) }}
                        <div class="container d-flex justify-content-end">
                            <button class="btn btn-primary">{{ button_label|default('Enregistrer les dates') }}</button>
                        </div>
                    {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

