{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="clearfix">
                <p class="h2 float-start">Agenda</p>
                <a href="{{ path('app_calendar') }}" class="btn float-end" data-bs-toggle="modal" data-bs-target="#addGroupModal">Nouveau</a>
            </div>

            <form method="get" action="{{ path('app_calendar') }}" class="row mb-3">
                <div class="col-11 p-0 m-0">
                    <input type="text" name="q" value="{{ searchTerm }}" placeholder="Rechercher un contact..." class="form-control">
                
                    </div>
                <div class="col-1 p-0 m-0">
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                </div>
            </form>

            {% for calendar in calendars %}
                <div class="col mb-3">
                    <a href="{{path('app_calendar_show', {'id': calendar.id})}}" class="link-secondary link-underline link-underline-opacity-0">
                        <strong>{{ calendar.getBeginAt ? calendar.getBeginAt|date('d/m/Y H:i') : '' }}</strong>	
                        {{ calendar.title | u.truncate(30, '...')}}<br/>
                        <small><i>{{ calendar.tender.title | u.truncate(70, '...')}}</i></small>
                    </a>
                </div>
            {% else %}
                <p>aucun.</p>
            {% endfor %}
             <div class="d-flex justify-content-end">
                {{ knp_pagination_render(calendars) }}
            </div>
        </div>
        <div class="col-md-8">
            
            <div id="calendar-holder"></div>
        </div>
    </div>
    <div class="modal fade" id="addGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addGroupModalLabel">Nouveau</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form, {'attr': {'id': 'task-form'}}) }}
            <div class="modal-body">
                    {{ form_widget(form) }}
                    {{ form_rest(form) }}

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">{{ button_label|default('Créer') }}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
            {{ form_end(form) }}

        
          </div>
        </div>
      </div>

{% endblock %}
{% block javascripts %}
    {% block importmap %}{{ importmap('calendar') }}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById('calendar-holder');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: 'POST',
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                             //alert('There was an error while fetching FullCalendar!');
                        },
                    },
                ],
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                timeZone: 'UTC',
            });

            calendar.render();
        });
           
        
    </script>
    
{% endblock %}