{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="container-fluid">
		<div class="col">
			<i class="bi bi-person-circle fs-2"></i> {{user.email | capitalize}} 
			<div class="btn-group float-end">
				
				<a href="{{ path('app_tender_new') }}" class="btn"> + Tender</a>
			
					<button class="btn dropdown-toggle" type="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-bell"></i> Notifications <span class="badge bg-danger">{{ notifications|filter(n => not n.isRead)|length }}</span>
					</button>
					{{ include('components/_notification.html.twig',{'notifications':notifications})}}

				
			</div>
		</div>

		<div class="d-flex justify-content-center my-3 row">
			{% for status,total in total_tender_by_status %}
			<div class="col-md-2 p-2">
				<a href="{{path('app_tender_status',{'status':status})}}" class="fw-bold btn btn-outline-{{status |getStatusColor}} d-flex justify-content-between align-items-center"> 
				 	
					{{status | getTenderStatus}} <span class="fs-4">{{total}}</span>
				</a>
			</div>
						
			{% endfor %}
				<div class="col-md-2 p-2">
					<a href="{{path('app_archive_index')}}" class="fw-bold btn btn-outline-secondary d-flex align-items-center justify-content-between align-items-center"> 
						Archives <span class="fs-4"><i class="bi bi-eye-fill"></i></span>
				
					</a>
				</div>
		</div>
		<div class="row">
			<div class="col-md-7 card card-body">
				<div class="clearfix mb-2">
					<p class="h4 float-start">Appels d'offres</p>
					<a href="{{ path('app_tender_index') }}" class="btn float-end">Voir tout</a>
				</div>

				<table class="table table-borderless">
					<thead>
					  <tr>
						<th scope="col">Référence</th>
						<th scope="col">Titre</th>
						<th scope="col"></th>
					  </tr>
					</thead>
					<tbody>
					  
						{% for tender_ in tenders %}
						<tr>
								<td>
								<a href="{{path('app_tender_show', {'id': tender_.id})}}" class="link-secondary link-underline link-underline-opacity-0">
										<span class="badge py-2 bg-{{ tender_.status |getStatusColor }}"> </span> {{tender_.contractNumber}}
									</a>
								</td>
								<td>
									{{ tender_.title| u.truncate(40, '...')}}
									
								</td>
								<td><small><a href="{{tender_.url}}" class="text-decoration-none">voir le site</a></small></td>
							</tr>
						{% endfor %}
					</tbody>
				  </table>


			</div>
			<div class="col-md-5">
				<div class="card card-body mb-3">
					<p class="h4">Cette semaine</p>
					{% for tender in week_tenders %}
					<div class="col clearfix p-2">
						<a href="{{path('app_tender_show', {'id': tender.id})}}" class="link-secondary link-underline link-underline-opacity-0 float-start">
							<strong>{{tender.dateType}} </strong>{{tender.contract_number}}<br/>
						</a>	
						<span class="float-end"> {{tender.dateValue ? tender.dateValue|date('d F Y') : '' }}</span>
					</div>
					{% endfor %}
				</div>
				<div class="card card-body">
					<div class="clearfix">
						<p class="h4 float-start">Documents</p>
						<a href="{{ path('app_document_index') }}" class="btn float-end">Voir tout</a>
					</div>
					{% for document in documents %}
						<div class="col clearfix p-2">
							<a href="{{path('app_document_show', {'id': document.id})}}" class="link-secondary link-underline link-underline-opacity-0 float-start">
								<strong>{{ document.name | u.truncate(35, '...')}}</strong> 
								<br/>
								<small><i>{{document.tender.title| u.truncate(45, '...')}}</i></small> 
							</a>
							<span class="float-end badge text-bg-{{ document.status| getStatusColor}}"> {{document.status | getDocumentStatus}} </span>
						</div>
					{% else %}
						<p>aucun document</p>
					{% endfor %}
				</div>
				<div class="card card-body mt-3">
					<div class="clearfix">
						<p class="h4 float-start">Agenda</p>
						<a href="{{ path('app_calendar_index') }}" class="btn float-end">Voir tout</a>
					</div>
					{% for calendar in calendars %}
						<div class="col mb-3">
							<a href="{{path('app_calendar_show', {'id': calendar.id})}}" class="link-secondary link-underline link-underline-opacity-0">
								<strong>{{ calendar.getBeginAt ? calendar.getBeginAt|date('d/m/Y H:i') : '' }}</strong>	
								{{ calendar.title | u.truncate(30, '...')}}<br/>
								<small><i>{{ calendar.tender.title | u.truncate(70, '...')}}</i></small>
							</a>
						</div>
					{% else %}
						<p>aucun.</p>
					{% endfor %}
				</div>
			</div>

		</div>
    </div>
{% endblock %}

