{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="container-fluid">
		<div class="col">
			<i class="bi bi-person-circle fs-2"></i> {{user.email | capitalize}} 
			<div class="btn-group float-end">
				<a href="{{ path('app_tender_new') }}" class="btn"> + Tender</a>
				
				<div class="dropdown">
					<button class="btn dropdown-toggle" type="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-bell"></i> Notifications <span class="badge bg-danger">{{ notifications|filter(n => not n.isRead)|length }}</span>
					</button>
					{{ include('components/_notification.html.twig',{'notifications':notifications})}}
				</div>

			</div>
		</div>
		<div class="mx-auto col mt-3">
			{% for status,total in statusTender %}
				<a href="{{path('app_tender_status',{'status':status})}}" class="btn align-items-between btn-outline-{{status |getTenderStatusColor}}"> {{status | getTenderStatus}} {{total}}</a>		
			{% endfor %}
		</div>
		<div class="row mt-3">
			<div class="col-md-6 card card-body">
				<div class="clearfix mb-2">
					<p class="h4 float-start">Appels d'offres</p>
					<a href="{{ path('app_tender_index') }}" class="btn float-end">Voir tout</a>
				</div>

				<table class="table table-sm table-borderless">
					<thead>
					  <tr>
						<th scope="col">Référence</th>
						<th scope="col">Titre</th>
						<th scope="col">Lien</th>
					  </tr>
					</thead>
					<tbody>
					  
					{% for tender_ in tenders %}
					<tr>
							<td>
							<a href="{{path('app_tender_show', {'id': tender_.id})}}" class="link-secondary link-underline link-underline-opacity-0">
									<span class="badge py-2 bg-{{ tender_.status |getTenderStatusColor }}"> </span> {{tender_.contractNumber}}
								</a>
							</td>
							<td>
								{{ tender_.title| u.truncate(40, '...')}}
								
							</td>
							<td><small>{{tender_.url}}</small></td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>


			</div>
			<div class="col-md-5">
				<div class="card card-body">
					<div class="clearfix">
						<p class="h4 float-start">Documents</p>
						<a href="{{ path('app_document_index') }}" class="btn float-end">Voir tout</a>
					</div>
					{% for document in documents %}
						<div class="col clearfix p-2">
							<a href="{{path('app_document_show', {'id': document.id})}}" class="link-secondary link-underline link-underline-opacity-0 float-start">
								<strong>{{ document.name | u.truncate(35, '...')}}</strong> 
								<br/>
								<small><i>{{document.tender.title| u.truncate(45, '...')}}</i></small> 
							</a>
							<span class="float-end badge text-bg-{{ document.status| getStatusColor}}"> {{document.status | getDocumentStatus}} </span>
						</div>
					{% else %}
						<p>aucun document</p>
					{% endfor %}
				</div>
				<div class="card card-body mt-3">
					<div class="clearfix">
						<p class="h4 float-start">Agenda</p>
						<a href="{{ path('app_calendar') }}" class="btn float-end">Voir tout</a>
					</div>
					{% for calendar in calendars %}
						<div class="col mb-3">
							<a href="{{path('app_calendar_show', {'id': calendar.id})}}" class="link-secondary link-underline link-underline-opacity-0">
								<strong>{{ calendar.getBeginAt ? calendar.getBeginAt|date('d/m/Y H:i') : '' }}</strong>	
								{{ calendar.title | u.truncate(30, '...')}}<br/>
								<small><i>{{ calendar.tender.title | u.truncate(70, '...')}}</i></small>
							</a>
						</div>
					{% else %}
						<p>aucun.</p>
					{% endfor %}
				</div>
			</div>

		</div>
    </div>
{% endblock %}
