{% extends 'base.html.twig' %}

{% block title %}CashFlow index{% endblock %}
{% block navbar %}
    {{ include('components/project_navbar.html.twig',{'project_id':project_id})}}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="clearfix">
            <p class="h2 float-start">CashFlow</p>
            <a href="{{ path('app_cash_flow_new',{'id':project_id}) }}" class="btn btn-primary col-1 my-2 float-end"> + Créer</a>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Description</th>
                <th>Créer le</th>
            </tr>
        </thead>
        <tbody>
        {% for cash_flow in cashflows %}
            <tr>
                <td><a href="{{ path('app_cash_flow_show', {'id': cash_flow.id}) }}">{{ cash_flow.label }}</a></td>
                <td>{{ cash_flow.isExpense ? 'Sortie' : 'Entrée' }}</td>
                <td>{{ cash_flow.amount }}</td>
                <td>{{ cash_flow.description }}</td>
                <td>{{ cash_flow.createdAt ? cash_flow.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
