{% extends 'base.html.twig' %}

{% block title %}Allotissement index{% endblock %}
{% block navbar %}
    {{ include('components/tender_navbar.html.twig',{'tender_id':tender_id})}}
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="clearfix ">
            <p class="float-start h2">Allotissements</p>
            <a href="{{ path('app_allotissement_new',{'id':tender_id}) }}" class="btn btn-primary float-end">Ajouter un allotissement</a>     
        </div>  
          
            <table class="table table-borderless m-5">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Budget minimum</th>
                        <th>Budget maximum</th>
                    </tr>
                </thead>
                <tbody>
                {% for allotissement in allotissements %}
                    <tr>
                        <td><a href="{{ path('app_allotissement_show', {'id': allotissement.id}) }}">{{ allotissement.number }}</a></td>
                        <td>{{ allotissement.title }}</td>
                        <td>{{ allotissement.description |u.truncate(50, '...') }}</td>
                        <td>{{ allotissement.minBudget }}</td>
                        <td>{{ allotissement.maxBudget }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">aucun</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}
