{% extends 'base.html.twig' %}

{% block title %}Show|Allotissement{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="offset-3 col-md-6">
            <h1>Allotissement</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Number</th>
                        <td>{{ allotissement.number }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ allotissement.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ allotissement.description }}</td>
                    </tr>
                    <tr>
                        <th>MinBudget</th>
                        <td>{{ allotissement.minBudget }}</td>
                    </tr>
                    <tr>
                        <th>MaxBudget</th>
                        <td>{{ allotissement.maxBudget }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_allotissement_edit', {'id': allotissement.id}) }}" class="btn text-secondary">Modifier</a>

           <form method="post" action="{{ path('app_allotissement_delete', {'id': allotissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ allotissement.id) }}">
                <button class="btn text-danger">Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
