<table class="table table-borderless">
    <thead>
       <tr>
        <th scope="col-3">Nom</th>
        <th scope="col">Status</th>
        <th scope="col">Poids</th>
        <th scope="col">Debut estimé</th>
        <th scope="col">Fin estimé</th>
        <th scope="col"></th>
       </tr>
    </thead>
    <tbody >
        {% for task in tasks %}
        <tr>
            <td scope="col-3"><a href="{{ path('app_task_show', {'id': task.id}) }}" class="link-secondary link-underline link-underline-opacity-0">{{ task.name | upper | u.truncate(45, '...')}}</a></td>
            <td>{{ task.status.label }}</td>
            <td>{{ task.getTaskWeight}}% ({{ task.rate }} points)</td>
            <td>{{ task.startDate ? task.startDate|date('d/m/Y') : '' }}</td>
            <td>{{ task.endDate ? task.endDate|date('d/m/Y') : '' }}</td>
            </tr>
        {% else %}
        {% endfor %}
    </tbody>
   </table>