{% extends 'base.html.twig' %}

{% block title %}ContactGroup{% endblock %}

{% block body %}
<div class="container ">
    <div class="row m-5">
             
    <p class="h4 mb-4">Liste des contacts du groupe <b>{{ group.Name }}</b></p >
        {{ include('contact/_list_contact.html.twig',{contacts:group.contacts}) }}

    <div class="container d-flex">
        <a href="{{ path('app_contact_group_edit', {'id': group.id}) }}" class="btn link-primary">Modifier le groupe</a>
        <form method="post" action="{{ path('app_contact_group_delete', {'id': group.id}) }}" onsubmit="return confirm('AÊtes-vous sûr de vouloir supprimer ce groupe?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
            <button class="btn link-danger">Supprimer le groupe</button>
        </form>
        </div>
    </div>

</div>
{% endblock %}
