{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}
{% block navbar %}
    {{ include('components/tender_navbar.html.twig',{'tender_id':tender.id})}}
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
		<p class="h2">Document du projet {{tender.title}}</p>
    <a href="{{path('app_document_tender_new',{'id':tender.id})}}" class="btn btn-primary col-2 mx-2 mb-4">Suivre un document</a>
    <div class="row mt-2">
        {% for status, documents in groupedDocuments %}
              <div class="col p-1">
                  <div class="card border-{{status | getStatusColor}}">
                    <div class="card-header text-{{status | getStatusColor}}">
                      <p class="h4"> {{status | getDocumentStatus}}</p>
                    </div>
                      <div class="list-group">
                        {% for document in documents %}
                          <a href="{{path('app_document_show', {'id':document.id})}}" class="list-group-item list-group-item-action pb-3" aria-current="true">
                            <span class="fw-medium text-reset">{{ document.name | u.truncate(40, '...')}}</span><br/>
                            <span class="text-body-secondary">{{document.tender.title| u.truncate(40, '...')}}</span> 
                            <br/>
                            <small class="text-{{status | getStatusColor}}"> {{document.responsable.email}}</small>
                          </a>
                       
                        {% else %}
                        {% endfor %}
                      </div>
                  </div>
                 
            </div>
						{% else %}
							<small>Aucun document pour le moment.</small>
						{% endfor %}
					</div>
    </div>
  </div>
{% endblock %}
