{% extends 'base.html.twig' %}

{% block title %}Tenders{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mb-5">
            <div class="row">
                <div class="col">
                    <p class="h2">Appels d'offres</p>
                </div>
                <div class="col row">
                    <form method="get" action="{{ path('app_tender_index') }}" class="col-md-10 row">
                        <div class="col-10 m-0 p-0">
                            <input type="text" name="q" value="{{ searchTerm }}" placeholder="Rechercher un appel d'offres..." class="form-control">
                        </div>
                        <div class="col-2 m-0 p-0">
                            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                    <a href="{{ path('app_tender_new') }}" class="col-md-2 btn btn-primary mb-2"> + Créer</a>

                </div>
                
            </div>
            <div class="row">
                {% for status,total in total_tender_by_status %}
                    <div class="col-md-2 p-2">
                        <a href="{{path('app_tender_status',{'status':status})}}" class="fw-bold btn btn-outline-{{status |getStatusColor}} d-flex justify-content-between align-items-center"> 
                            {{status | getTenderStatus}} <span class="fs-4">{{total}}</span>
                        </a>
                    </div>
			    {% endfor %}
                <div class="col-md-2 p-2">
					<a href="{{path('app_tender_index')}}" class="fw-bold btn btn-outline-secondary d-flex align-items-center justify-content-between align-items-center"> 
						Total <span class="fs-4">{{total_tenders}}</span>
					</a>
				</div>
            </div>
            
            {{include('tender/_tender_lists.html.twig',{'tenders':tenders})}}

            
    </div>
</div>
{% endblock %}
