{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-5">
            <div class="clearfix">
                <p class="h2 float-start">Appels d'offres</p>
                <a href="{{ path('app_tender_new') }}" class="btn btn-primary col-1 my-2 float-end"> + Créer</a>
            
            </div>
            <div class="table-responsive">
               <table class="table mt-3">
                <thead>
                    <tr>
                        <th class="col-md-3">Titre</th>
                        <th>Numéro</th>
                        <th class="col-md-2">Date de début</th>
                        <th class="col-md-2">Date de fin</th>
                        <th class="col-md-2">Budget min</th>
                        <th class="col-md-2">Budget max</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for tender in tenders %}
                    <tr>
                        <td><a href="{{ path('app_tender_show', {'id': tender.id}) }}" class="btn">{{ tender.title }}</a></td>
                        <td>{{ tender.contractNumber }}</td>
                        <td>{{ tender.startDate ? tender.startDate|date('d-m-Y') : '' }}</td>
                        <td>{{ tender.endDate ? tender.endDate|date('d-m-Y') : '' }}</td>
                        <td>{{ tender.minBudget }}</td>
                        <td>{{ tender.maxBudget }}</td>
                        <td><span class="badge bg-{{tender.status | getStatusColor}}">{{tender.status | getTenderStatus}}</span></td> 
                      
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun appel d'offre pour le moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
            </div>
            
    </div>
</div>
{% endblock %}
