{% extends 'base.html.twig' %}

{% block title %}Ajout un fichier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3">
            <div class="offset-2 col-md-8">
                <p class="h2 my-3">Ajouter un appel d'offre</p>
                {{ form_start(form) }}
                <div class="modal-body">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}

                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}