{% extends 'base.html.twig' %}

{% block title %}Tender{% endblock %}

{% block navbar %}
    {{ include('components/tender_navbar.html.twig',{'tender_id':tender.id})}}
{% endblock %}

{% block body %}
    <div class="container-fluid">
       <div class="row">
            <strong class="h2 float-start my-4 text-center text-{{tender.status | getStatusColor}}">{{ tender.contractNumber }}-{{tender.title}}</strong>
            
            <div class="row px-4 my-3">
            
                <p class="fs-4 my-2"> Informations sur l'appel d'offre</p> 
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-4 fw-medium">Réference</dt>
                        <dd class="col-sm-8">{{ tender.contractNumber }}</dd>
                        <dt class="col-sm-4 fw-medium">Nom du projet</dt>
                        <dd class="col-sm-8">{{ tender.title }}.</dd>
                    

                       <dt class="col-sm-4 fw-medium">Type du marché</dt>
                        <dd class="col-sm-8">{{tender.tenderType | getTenderType}}</dd>
                        <dt class="col-sm-4 fw-medium">Adresse</dt>
                        <dd class="col-sm-8">{{ tender.location }}</dd>
                        <dt class="col-sm-4 fw-medium">Budget minimum</dt>
                        <dd class="col-sm-8">{{ tender.minBudget }}.</dd>
                        <dt class="col-sm-4 fw-medium">Budget maximum</dt>
                        <dd class="col-sm-8">{{ tender.maxBudget }}.</dd>
                        <dt class="col-sm-4 fw-medium"><a href="{{ tender.url }}" class="">Visiter le site </a></dt>
                        <dd></dd>
                      

                    </dl>
                </div>
          
                <div class="col-md-4">
                    <div class="row">
                        <dt class="col-sm-4 fw-medium"> Soumission</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.submissionDate| highlight }}">{{ tender.submissionDate ? tender.submissionDate|date('d F Y H:i') : '' }}</p></dd>
                        <dt class="col-sm-4 fw-medium"> Négociation</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.negociationDate| highlight }}">{{ tender.negociationDate ? tender.negociationDate|date('d F Y H:i') : '' }}</p></dd>
                        <dt class="col-sm-4 fw-medium"> Réponse</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.responseDate| highlight }}">{{ tender.responseDate ? tender.responseDate|date('d F Y H:i') : '' }}</p></dd>
                        <dt class="col-sm-4 fw-medium"> Attribution</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.attributionDate| highlight }}">{{ tender.attributionDate ? tender.attributionDate|date('d F Y H:i') : '' }}</p></dd>
                        <dt class="col-sm-4 fw-medium"> Début</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.startDate| highlight }}">{{ tender.startDate ? tender.startDate|date('d F Y H:i') : '' }}</p></dd>
                        <dt class="col-sm-4 fw-medium"> Fin</dt>
                        <dd class="col-sm-8"><p class="p-0 m-0{{ tender.endDate| highlight }}">{{ tender.endDate ? tender.endDate|date('d F Y H:i') : '' }}</p></dd>
                   
                        <dt class="col-sm-4 fw-medium">Durrée</dt>
                        <dd class="col-sm-8">{{ tender.duration }} ans</dd>
                        <dt class="col-sm-4 fw-medium ">Status</dt>
                        <dd class="col-sm-8"><span class="badge bg-{{tender.status | getStatusColor}} fw-bolder">{{tender.status | getTenderStatus}}</span></dd>
                       
                   
                    </div>

                </div>
            </div>
            <div class="px-4 my-3">
                <p class="fs-4 my-2">Description</p> 
                {{ tender.description }}
            </div>
            <div class="px-4 my-3">
                <div class="row">
                    <p class="fs-4 my-2">Informations sur l'organisation</p> 
                    {% if tender.contact %}
                    <div class="col row">
                        <dt class="col-sm-4">Organisation</dt>
                        <dd class="col-sm-8">{{tender.contact.organisation}}</dd>
                        <dt class="col-sm-4">Nom</dt>
                        <dd class="col-sm-8">{{tender.contact.name}}</dd>
                        <dt class="col-sm-4">Poste</dt>
                        <dd class="col-sm-8">{{tender.contact.function}}</dd>

                    </div>
                    <div class="col row">
                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">{{ tender.contact.email }}</dd>
                        <dt class="col-sm-4">Contact perso</dt>
                        <dd class="col-sm-8">{{ tender.contact.contactPerso }}.</dd>
                        <dt class="col-sm-4">Contact pro</dt>
                        <dd class="col-sm-8">{{ tender.contact.contactPro }}.</dd>

                    </div>
                    {% else %}
                        <p>Aucune. <a href="{{path('app_tender_edit_organisation_contact',{'id':tender.id})}}" class="btn">Completer les informations</a>
                        </p> 
                   {% endif %}
                </div>
            </div>

            
            
            <div class="px-4 my-3">
                <p class="fs-4 my-2">Opérations</p> 
                    <div class="col-md-8">
                        <ol class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto fw-medium">Modifier les informations généraux</div>
                            
                            <a href="{{ path('app_tender_edit_informations', {'id': tender.id}) }}" class="btn btn-outline-primary">Modifier</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                <div class="fw-medium"> Modifier les dates</div>
                                </div>
                                <a href="{{ path('app_tender_edit_date', {'id': tender.id}) }}" class="btn btn-outline-primary">Modifier</a>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto fw-medium">Archiver le projet</div>
                                 <form method="post" action="{{ path('app_tender_archive', {'id': tender.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver ce projet?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ tender.id) }}">
                                    <button class="btn btn-outline-warning">Archiver</button>
                                </form>
                               
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto fw-medium"> Supprimer le projet</div>
                                <form method="post" action="{{ path('app_tender_delete', {'id': tender.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce projet?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tender.id) }}">
                                    <button class="btn btn-outline-danger">Supprimer</button>
                                </form>
                                </div>
                            </li>
                            {% endif %} 
                        </ol>
                    </div>
        </div>


       </div>
   </div>
    
   
{% endblock %}
