{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="container-fluid">
       <div class="row p-3">
            <div class="clearfix">
                <strong class="h2 float-start mb-4">Projet {{ tender.title }}.</strong>
                <div class="float-end d-flex">
                    <a href="{{ path('app_tender_edit', {'id': tender.id}) }}" class="btn btn-primary mx-1">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {{ include('tender/_delete_form.html.twig') }}
                </div>
            </div>
            <div class="row px-4">
                <div class="col">
                    <dl class="row">
                       

                        <dt class="col-sm-4">Titre du projet</dt>
                        <dd class="col-sm-8">{{ tender.title }}.</dd>
                    
                        <dt class="col-sm-4">Numero</dt>
                        <dd class="col-sm-8">{{ tender.contractNumber }}</dd>
                    
                        <dt class="col-sm-4">Localisation</dt>
                        <dd class="col-sm-8">{{ tender.location }}</dd>
                       
                        <dt class="col-sm-4">Status</dt>
                        <dd class="col-sm-8">
                            <td>{{tender.status | getTenderStatus}}</td>  
                        </dd>
                        
                        <dt class="col-sm-4">Type du projet</dt>
                        <dd class="col-sm-8">
                            <td>{{tender.tenderType | getTenderType}}</td> 
                        </dd>

                    </dl>
                </div>
                <div class="col">
                    <div class="p-3 row">
                        <dt class="col-sm-4">Date de début</dt>
                        <dd class="col-sm-8">{{ tender.startDate ? tender.startDate|date('Y-m-d H:i:s') : '' }}.</dd>
                        <dt class="col-sm-4">Date de fin</dt>
                        <dd class="col-sm-8">{{ tender.endDate ? tender.endDate|date('Y-m-d H:i:s') : '' }}.</dd>
                    
                        <dt class="col-sm-4">Budget minimum</dt>
                        <dd class="col-sm-8">{{ tender.minBudget }}.</dd>
                        <dt class="col-sm-4">Budget maximum</dt>
                        <dd class="col-sm-8">{{ tender.maxBudget }}.</dd>
                    
                    </div>
                </div>
            </div>
            <div class="px-4">
                <strong>Url:</strong> {{ tender.url }}.<br/>
                <strong>Description:</strong> {{ tender.description }}.
            </div>
       </div>
       
       <div class="row mt-5">
            <strong class="h4 float-start mb-2">Documents suivis</strong>
          
        {% for document in tender.documents %}
        <div class="card mx-2" style="width: 18rem; height: 17rem;">
            <div class="card-body">
              <h4 class="card-title">{{ document.name }}</h4>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{document.tender.title}}</h6>
              <p class="card-text">{{document.information|u.truncate(80, '...')}}</p>
              <span class="badge rounded-pill bg-{{document.status | getStatusColor}}">
                {{document.status | getDocumentStatus}}</span>
                <small>@{{document.responsable.email}}</small>
              <div class="btn-group">
                <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="btn">Modifier</a>
                  {{ include('document/_delete_form.html.twig') }}
              </div>
            </div>
            
          </div>
        {% else %}
            <small>Aucun document pour le moment.</small>
        {% endfor %}
       </div>

      <div class="row p-3 mt-5">
        <div class="clearfix mb-2">
            <strong class="h4 float-start">Fichiers associés</strong>
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addFileModal">
                Ajouter un fichier
            </button>
        </div>
        <ol class="list-group">
            {% for file in tender.files %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <a href="{{ asset('uploads/tender_tas/' ~ file.filepath| e('html')) }}">{{ file.filename }}</a>
                    </div>
                    url: {{ file.url }}
                </div>

                <form method="post" action="{{ path('app_file_delete', {'id': file.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
                    <button class="btn">supprimer</button>
                </form>
                </li>
            {% else %}
                <p>Aucun fichier.</p>
            {% endfor %}
        </ol>
   </div>
    

  <div class="modal fade" id="addFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addFileModalLabel">Ajouter des fichiers</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {{ form_start(form) }}
        <div class="modal-body">
                {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>

{% endblock %}
