{% extends 'base.html.twig' %}

{% block title %}Tender{% endblock %}



{% block body %}
    <div class="container-fluid">
       <div class="row">
            <div class="d-flex justify-content-between">
                <strong class="h2 float-start mb-4 text-center text-{{tender.status | getStatusColor}}">{{ tender.contractNumber }}-{{tender.title}}</strong>
                {% set statusColorClass = 'text-' ~ (tender.status | getStatusColor) ~ ' border-'~ (tender.status | getStatusColor) %}
                {{ form_start(form_status) }}
                        {{ form_widget(form_status.status,{'attr': {'class':'form-select status-select ' ~statusColorClass}}) }}
                {{ form_end(form_status) }}
            
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary active " id="information-tab" data-bs-toggle="tab" data-bs-target="#information-tab-pane" type="button" role="tab" aria-controls="information-tab-pane" aria-selected="true">Informations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary " id="organisation-tab" data-bs-toggle="tab" data-bs-target="#organisation-tab-pane" type="button" role="tab" aria-controls="organisation-tab-pane" aria-selected="false">organisations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary" id="document-tab" data-bs-toggle="tab" data-bs-target="#document-tab-pane" type="button" role="tab" aria-controls="document-tab-pane" aria-selected="false">Documents</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-tab-pane" type="button" role="tab" aria-controls="file-tab-pane" aria-selected="false">Fichiers</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary" id="allotissement-tab" data-bs-toggle="tab" data-bs-target="#allotissement-tab-pane" type="button" role="tab" aria-controls="allotissement-tab-pane" aria-selected="false">Allotissements</button>
                </li>
                </ul>


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="information-tab-pane" role="tabpanel" aria-labelledby="information-tab" tabindex="0">
                        {{include('tender/sections/information_section.html.twig',{'tender':tender})}}
                    </div>
                    <div class="tab-pane fade" id="organisation-tab-pane" role="tabpanel" aria-labelledby="organisation-tab" tabindex="0">
                          {{include('tender/sections/organisation_section.html.twig',{'tender':tender})}}
                    </div>
                    <div class="tab-pane fade" id="document-tab-pane" role="tabpanel" aria-labelledby="document-tab" tabindex="0">
                        {{include('tender/sections/document_section.html.twig',{'tender':tender})}}
                    </div>

                    <div class="tab-pane fade" id="file-tab-pane" role="tabpanel" aria-labelledby="file-tab" tabindex="0">
                         {{include('tender/sections/file_section.html.twig',{'tender':tender})}}
                    </div>
                    <div class="tab-pane fade" id="allotissement-tab-pane" role="tabpanel" aria-labelledby="allotissement-tab" tabindex="0">
                        {{include('tender/sections/allotissement_section.html.twig',{'tender':tender})}}
                    </div>
                </div>
                
          


       </div>
   </div>
   {% block javascript%}
   <script>
       document.querySelectorAll('.status-select').forEach(select => {
           select.addEventListener('change', function () {
               this.form.submit();
           });
       });
       </script>
   {% endblock %}
   
{% endblock %}

