{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
 <div class="container-fluid mt-2">
    <div class="row pb-5 m-2">
		<div class="container my-3">
			<a href="{{ path('app_contact_new') }}" class="btn btn-primary m-0 mb-3">Ajouter des Contacts</a>
			{{ include('contact/_list_contact.html.twig') }}
		</div>
	</div>
	<div class="row">
		<div class="mx-3">
			<button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#addGroupModal">Créer un groupe </button><br/>
			{% for group in groups %}
				<a href="{{ path('app_contact_group_show', {'id': group.id}) }}" class="btn btn-outline-primary">{{ group.Name }}</a>
			{% else %}
				<span>no group found</span>
			{% endfor %}
		   </div>

		</div>
 	</div>

 <div class="modal fade" id="addGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addGroupModalLabel">Ajouter des fichiers</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {{ form_start(form) }}
        <div class="modal-body">
                {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>

{% endblock %}
