{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Contact</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ contact.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <th>Contact personnel</th>
                        <td>{{ contact.contactPerso }}</td>
                    </tr>
                    <tr>
                        <th>Contact professionnel</th>
                        <td>{{ contact.contactPro }}</td>
                    </tr>
                    <tr>
                        <th>Organisation</th>
                        <td>{{ contact.organisation }}</td>
                    </tr>
                    <tr>
                        <th>Poste</th>
                        <td>{{ contact.function }}</td>
                    </tr>
                    <tr>
                        <th>Appartient au groupe</th>
                        <td>
                            {% for group in contact.getContactGroups() %}
                            <a href="{{ path('app_contact_group_show', {'id': group.id}) }}" class="btn btn-outline-primary">{{ group.Name }}</a>
                            {% else %}
                                <td colspan="3">aucun</td>
                            
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
