{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}
{% block navbar %}
    {{ include('components/tender_navbar.html.twig',{'tender_id':tender.id})}}
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
		<p class="h2">Document du projet {{tender.title}}</p>
    <a href="#" class="btn btn-primary col-2 mx-2 mb-4" data-bs-toggle="modal" data-bs-target="#addDocumentModal">Suivre un document</a>
   

    <div class="row mt-2">
        {% for status, documents in groupedDocuments %}
              <div class="col p-1">
                  <div class="card border-{{status | getStatusColor}}">
                    <div class="card-header text-{{status | getStatusColor}}">
                      <p class="h4"> {{status | getDocumentStatus}}</p>
                    </div>
                      <div class="list-group" data-controller="sortable" data-sortable-group-value="{{status}}" data-group="{{status}}">
                        {% for document in documents %}
                         
                        <div class="card"  data-id="{{document.id}}">
                            <a href="{{ asset('uploads/tender_documents/' ~ document.filepath| e('html')) }}" class="list-group-item list-group-item-action" aria-current="true">
                              {{ document.filename}}  <br/>
                              <small class="fw-medium text-reset">{{ document.name | u.truncate(40, '...')}}</small>
                              <br/>
                              <small class="float-start">Par {{document.responsable.email}}</small>

                            </a>
                            <a href="{{path('app_document_edit', {'id':document.id})}}" data-id="{{document.id}}" class="btn text-{{status | getStatusColor}} clearfix" aria-current="true">
                              <span class="float-end">Modifier</span>
                            </a>
                        </div>
                        
                       
                        {% else %}
                        {% endfor %}
                      </div>
                  </div>
                 
            </div>
						{% else %}
							<small>Aucun document pour le moment.</small>
						{% endfor %}
					</div>
    </div>

     <div class="modal fade" id="addDocumentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addDocumentModalLabel">Nouveau</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                    {{ form_rest(form) }}

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">{{ button_label|default('Créer') }}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
  </div>
{% endblock %}
