{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}

<div class="container">
     <div class="clearfix">
        <div class="float-start">
          <p class="h2">Documents dont je suis le responsable</p>
        </div>
        <div class="float-end">
          <form method="get" action="{{ path('app_document_index') }}" class="row">
            <div class="col-10 m-0 p-0">
                <input type="text" name="q" value="{{ searchTerm }}" placeholder="Rechercher un document..." class="form-control">
            </div>
            <div class="col-2 m-0 p-0">
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
            </div>
          </form>

        </div>
     </div>
        <div class="row m-3">
          <table class="table">
              <thead>
                  <tr>
                      <th class="col-5">Nom du document</th>
                      <th>Responsable</th>
                      <th>Date prévu</th>
                      <th>Projet</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                      {% for document in documents  %}
                      <tr> 
                                <td class="col-5"><a href="{{path('app_document_show', {'id':document.id})}}" class="link-dark link-underline link-underline-opacity-0">{{ document.name }}</a></td>
                                <td>{{document.responsable.email}}</td>
                                <td>{{ document.limitDate ? document.limitDate|date('d F Y') : 'aucun' }}</td>
                                <td><a href="{{path('app_tender_show', {'id':document.tender.id})}}" class="link-dark link-underline link-underline-opacity-0">{{ document.tender | u.truncate(40, '...')}}</a></td>
                                <td><span class="badge bg-{{document.status | getStatusColor}}">{{document.status | getDocumentStatus}}</Span></td>
                              </tr>  
                          
                    {% endfor %}
              </tbody>
            
            
          </table>
          <div class="d-flex justify-content-end">
                {{ knp_pagination_render(documents) }}
          </div>
        </div>
          
    </div>
</div>
{% endblock %}
