{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}
{% block navbar %}
    {{ include('components/tender_navbar.html.twig',{'tender_id':document.tender.id})}}
{% endblock %}
{% block body %}
   <div class="container">
        <div class="row offset-2 col-md-8">
            <div class="clearfix">
                <strong class="h2 float-start mb-4">{{ document.name }}</strong>
                <span class="mx-4 badge text-bg-{{ document.status| getStatusColor}}"> {{ document.status | getDocumentStatus}}</span>
                <div class="float-end d-flex">
                    <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="btn btn-primary mx-1">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {{ include('document/_delete_form.html.twig') }}
                </div>
            </div>

            <p> <a class="icon-link" href="{{ asset('uploads/tender_documents/' ~ document.filepath| e('html')) }}">
                <i class="bi bi-eye-fill"></i><use xlink:href="#box-seam"></use>
                Voir le contenu: {{ document.filename}}
            </a></p>
           
            <p><strong>Projet: </strong><i><a href="{{path('app_tender_show', {'id': document.tender.id})}}" class="link-secondary link-underline link-underline-opacity-0">{{document.tender.title}}</a></i></p>
            
            <p> <strong>responsable: </strong> {{document.responsable.email}}</p>

            <p><strong>Information: </strong> {{ document.information }}</p>
          <p class="{{ document.limitDate| highlight }}">{{ document.limitDate ? document.limitDate|date('d F Y') : '' }}</p>
        </div>
   </div>
{% endblock %}
