<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
    {% for notification in notifications %}
        <li class="dropdown-item d-flex justify-content-between">
            {% if notification.type == 1 %}
                 <a class="link-offset-2 link-underline link-underline-opacity-0 text-wrap text-break" href="{{ path('app_tender_show', {'id': notification.typeId}) }}">{{ notification.message }}</a>

            {% elseif notification.type == 2 %}
                 <a class="link-offset-2 link-underline link-underline-opacity-0 text-wrap text-break" href="{{ path('app_document_show', {'id': notification.typeId}) }}">{{ notification.message }}</a>

            {% endif %}
            {% if not notification.isRead %}
                <a href="{{ path('notification_mark_read', {'id': notification.id}) }}" class="btn btn-sm">✔lu</a>
            {% endif %}
        </li>
    {% else %}
        <li class="dropdown-item text-muted text-center">Aucune nouvelle notification.</li>
    {% endfor %}
</ul>