<div class="col-sm-auto bg-light sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <a href="{{ path('app_home') }}" class="d-block p-3 link-blue text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
          <i class="bi bi-speedometer2 {% if app.request.get('_route') == 'app_home' %}fs-1 {% else %} fs-2{% endif %}"></i>
        </a>
        
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center">
            <li>
                <a href="{{ path('app_tender_index') }}" class="nav-link py-3 px-2 "  title="Appels d'offres" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Tenders">
                    <i class="bi bi-card-list {% if app.request.get('_route') == 'app_tender_index' %}fs-1 {% else %} fs-3{% endif %}"></i>
                </a>
            </li>

        

            <li>
                <a href="{{ path('app_calendar_index') }}" class="nav-link py-3 px-2" title="Calendrier" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Calendars">
                  <i class="bi bi-calendar3 {% if app.request.get('_route') == 'app_calendar_index' %}fs-1 {% else %} fs-3{% endif %}"></i>
              </a>
            </li>
               <li>
                <a href="{{ path('app_document_index') }}" class="nav-link py-3 px-2" title="Documents" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Documents">
                  <i class="bi bi-folder {% if app.request.get('_route') == 'app_document_index' %}fs-1 {% else %} fs-3{% endif %}"></i>
              </a>
            </li>
            <li>
                <a href="{{ path('app_contact_index') }}" class="nav-link py-3 px-2" title="Contacts" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                  <i class="bi bi-people {% if app.request.get('_route') == 'app_contact_index' %}fs-1 {% else %} fs-3{% endif %}"></i>
                </a>
            </li>
<li>
                <a href="{{ path('app_archive_index') }}" class="nav-link py-3 px-2" title="archives" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                  <i class="bi bi-archive {% if app.request.get('_route') == 'app_archive_index' %}fs-1 {% else %} fs-3{% endif %}"></i>
                </a>
            </li>
            
        </ul>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-person-circle h4"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="dropdown-item" href="{{ path('admin') }}">Section admin</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{ path('app_tender_new') }}">Nouveau tender...</a></li>
               
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a></li>
               
            </ul>
        </div>
    </div>
</div>