{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <p class="h2">Documents archivés</p>
            {% for document in documents %}
                <div class="col-md-4">
                    <a href="{{path('app_document_show', {'id':document.id})}}" class="list-group-item list-group-item-action pb-3" aria-current="true">
                        <span class="fw-medium text-reset">{{ document.name | u.truncate(40, '...')}}</span><br/>
                        <span class="text-body-secondary">{{document.tender.title| u.truncate(40, '...')}}</span> 
                        <br/>
                        <small class="text-{{document.status | getStatusColor}}"> {{document.responsable.email}}</small>
                        </a>
                        {{ include('document/_delete_form.html.twig') }}
                </div>
            {% else %}
            {% endfor %}
        </div>
        <p class="h2 mt-5">Appel d'offres archivés</p>

        <div class="table-responsive">
            <table class="table mt-3">
             <thead>
                 <tr>
                     <th class="col-md-3">Titre</th>
                     <th>Numéro</th>
                     <th class="col-md-2">Date de début</th>
                     <th class="col-md-2">Date de fin</th>
                     <th class="col-md-2">Budget min</th>
                     <th class="col-md-2">Budget max</th>
                     <th>Status</th>
                     <th class=""></th>
                 </tr>
             </thead>
             <tbody>
             {% for tender in tenders %}
                 <tr>
                     <td>{{ tender.title }}</td>
                     <td>{{ tender.contractNumber }}</td>
                     <td>{{ tender.startDate ? tender.startDate|date('d-m-Y') : '' }}</td>
                     <td>{{ tender.endDate ? tender.endDate|date('d-m-Y') : '' }}</td>
                     <td>{{ tender.minBudget }}</td>
                     <td>{{ tender.maxBudget }}</td>
                     <td><span class="badge bg-{{tender.status | getStatusColor}}">{{tender.status | getTenderStatus}}</span></td> 
                     <td class="btn-group">
                         <a href="{{ path('app_tender_show', {'id': tender.id}) }}" class="btn"><i class="bi bi-eye-fill"></i></a>

                         {% if is_granted('ROLE_ADMIN') %}

                             <a href="{{ path('app_tender_edit', {'id': tender.id}) }}" class="btn"><i class="bi bi-pencil-fill"></i></a>
                             <form method="post" action="{{ path('app_tender_delete', {'id': tender.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce tender?');">
                                 <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tender.id) }}">
                                 <button class="btn"><i class="bi bi-trash3-fill"></i></button>
                             </form>

                              <form method="post" action="{{ path('app_tender_archive', {'id': tender.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce tender?');">
                                 <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ tender.id) }}">
                                 <button class="btn"><i class="bi "></i>Reset</button>
                             </form>
                         {% endif %}
                     </td>
                 </tr>
             {% else %}
                 <tr>
                     <td colspan="13">Aucun appel d'offre pour le moment.</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table> 
         </div>
    </div>

{% endblock %}