{{ form_start(form) }}
    <div class="mb-3 row">
        {{ form_label(form.title) }}
        <div class="col-sm-9">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">{{ form_widget(form.devise) }}</span>
        {{ form_widget(form.budget) }}
        <span class="input-group-text">.00</span>
      </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_rest(form) }}
{{ form_end(form) }}
