{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h1>Projets</h1>
            <a href="{{ path('app_project_new') }}">Créer un projet</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Numéro</th>
                    <th>Localisation</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Budget min</th>
                    <th>Budget max</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Url</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.contractNumber }}</td>
                    <td>{{ project.location }}</td>
                    <td>{{ project.startDate ? project.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ project.endDate ? project.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ project.minBudget }}</td>
                    <td>{{ project.maxBudget }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.projectType }}</td>
                    <td>{{ project.url }}</td>
                    <td>
                        <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                        <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Aucun projet pour le moment.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
