{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-5">
            <div class="clearfix">
                <p class="h2 float-start">Projets</p>
                <a href="{{ path('app_project_new') }}" class="btn btn-primary col-1 my-2 float-end"> + Créer</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Budget</th>
                        <th>Progression</th>
                        <th>Deadline</th>
                        <th>Responsable</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{{ path('app_project_show', {'id': project.id}) }}" class="link-secondary link-underline link-underline-opacity-0">{{ project.title }}</a></td>
                        <td>{{ project.budget }}</td>
                        <td>{{ project.getProgress }}%</td>
                        <td>{{ project.deadline ? project.deadline|date('d/m/Y') : '' }}</td>
                        <td>{{ project.responsable.email }}</td>
                    </tr>
                   
                {% else %}
                    <tr>
                        <td colspan="5">aucun</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}
