{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row my-5">
            <div class="clearfix">
                <p class="h2 float-start">Appels d'offres</p>
                <a href="{{ path('app_project_new') }}" class="btn btn-primary col-1 my-2 float-end"> + Créer</a>
            
            </div>
            <div class="table-responsive">
               <table class="table mt-3">
                <thead>
                    <tr>
                        <th class="col-md-3">Titre</th>
                        <th>Numéro</th>
                        <th class="col-md-2">Date de début</th>
                        <th class="col-md-2">Date de fin</th>
                        <th class="col-md-2">Budget min</th>
                        <th class="col-md-2">Budget max</th>
                        <th>Status</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.title }}</td>
                        <td>{{ project.contractNumber }}</td>
                        <td>{{ project.startDate ? project.startDate|date('d-m-Y') : '' }}</td>
                        <td>{{ project.endDate ? project.endDate|date('d-m-Y') : '' }}</td>
                        <td>{{ project.minBudget }}</td>
                        <td>{{ project.maxBudget }}</td>
                        <td><span class="badge bg-{{project.status | getStatusColor}}">{{project.status | getProjectStatus}}</span></td> 
                        <td class="btn-group">
                            <a href="{{ path('app_project_show', {'id': project.id}) }}" class="btn"><i class="bi bi-eye-fill"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn"><i class="bi bi-pencil-fill"></i></a>
                                <form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce projet?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                    <button class="btn"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun projet pour le moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
            </div>
            
    </div>
</div>
{% endblock %}
