{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
        <h1>Project</h1>
        <!-- A changer par un modal -->
        <a href="{{path('app_file_new', {'project_id': project.id}) }}">Ajouter des fichiers</a> 

        {% for file in project.files %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ file.filename }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ file.url }}</h6>
              <a href="{{path('app_file_edit', {'id': file.id}) }}" class="card-link">Modifier</a>
              {{ include('file/_delete_form.html.twig') }}
            </div>
          </div>
        {% else %}
          <tr>
              <td colspan="8">Aucun fichier</td>
          </tr>
        {% endfor %}

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ project.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ project.title }}</td>
                </tr>
                <tr>
                    <th>Contract_number</th>
                    <td>{{ project.contractNumber }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ project.description }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ project.location }}</td>
                </tr>
                <tr>
                    <th>Start_date</th>
                    <td>{{ project.startDate ? project.startDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>End_date</th>
                    <td>{{ project.endDate ? project.endDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Min_budget</th>
                    <td>{{ project.minBudget }}</td>
                </tr>
                <tr>
                    <th>Max_budget</th>
                    <td>{{ project.maxBudget }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ project.status }}</td>
                </tr>
                <tr>
                    <th>Project_type</th>
                    <td>{{ project.projectType }}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td>{{ project.url }}</td>
                </tr>
            </tbody>
        </table>
        <div class="container d-flex justify-content-end">
            <a href="{{ path('app_project_edit', {'id': project.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('project/_delete_form.html.twig') }}
        </div>
    </div>
  </div>

  
{% endblock %}
